body {
  background-image: url("DnD_CC_Background.jpg");
  background-repeat: no-repeat;
  background-size: 3000px;
  background-position-x: -500px;
  background-attachment: fixed;
  color: white;
}

h1 {
  text-align: center;
  background-color: rgb(64, 109, 109, 0.5);
  border: 1px solid none;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19),
    10px 6px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  color: white;
}

#welcome-message {
  padding: 5px;
  color: white;
  background-color: rgba(211, 210, 210, 0.25);
  border: 1px solid none;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19),
    10px 6px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  border: 1px solid none;
  border-radius: 20px;
  background-color: rgba(211, 210, 210, 0.25);
  margin: 5px;
  padding: 15px 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19),
    10px 6px 6px rgba(0, 0, 0, 0.23);
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child1 {
  border: 1px solid none;
  border-radius: 20px;
  background-color: rgba(211, 210, 210, 0.25);
  margin: 5px;
  padding: 15px 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19),
    10px 6px 6px rgba(0, 0, 0, 0.23);
}

.child6 {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px 5px;
  text-align: center;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19),
    10px 6px 6px rgba(0, 0, 0, 0.23);
}

#diceRoll {
  font-size: 50px;
  color: white;
}
